{% extends "base/base.html" %}

{% block titulo_tela %}
    Dashboard Geral
{% endblock %}

{% block cards %}
    <h3 class="fw-bold fs-4 mb-3">
        Funcionários
    </h3>
    <div class="col-12 col-md-4">
        <div class="card shadow">
            <div class="card-body py-4">
                <h6 class="mb-2 fw-bold">
                    Member Progress
                </h6>
                <p class="fw-bold mb-2">
                    $ 89,18
                </p>
                <div class="mb-0">
                    <span class="bagde text-sucess me-2">
                        +9.0%
                    </span>
                    <span class="fw-bold">
                        Since Last Month
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card shadow">
            <div class="card-body py-4">
                <h6 class="mb-2 fw-bold">
                    Member Progress
                </h6>
                <p class="fw-bold mb-2">
                    $ 89,18
                </p>
                <div class="mb-0">
                    <span class="bagde text-sucess me-2">
                        +9.0%
                    </span>
                    <span class="fw-bold">
                        Since Last Month
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card shadow">
            <div class="card-body py-4">
                <h6 class="mb-2 fw-bold">
                    Member Progress
                </h6>
                <p class="fw-bold mb-2">
                    $ 89,18
                </p>
                <div class="mb-0">
                    <span class="bagde text-sucess me-2">
                        +9.0%
                    </span>
                    <span class="fw-bold">
                        Since Last Month
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block  content %}
{% endblock %}
